/* *{
  outline: 1px solid red;
} */

body {
  padding: 0 10%;
  font-family: 'Poppins', sans-serif;
  
}

main{
  background-image: url("../img/body-background.png");
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header-container {
  display: flex;
  flex-direction: column;
}

#opcoes-do-menu {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

#logo{
  margin: 10px;
}
#carrinho-compras{
  display: flex;
  justify-self: right;
  align-items: center;
  flex-direction: row-reverse;
  margin-bottom: 10px;

  /* flex-direction: column; */
}

#carrinho-compras h1{
  color: rgb(112, 112, 112);
  font-size: 12px;
  margin-bottom: 0;
  align-self: flex-end;
  padding: 5px 10px;
}


main section {
  display: flex;

}

#conteudo-principal{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

#tab-lateral{
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  /* background-color: #ffffff; */
}

#container-buscar{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: rgb(193, 197, 201);
  padding: 20px;
  border-radius: 2px;

}

#search-container input {
  border-radius: 10px 10px ;
  flex-grow: 1;
}


#opcoes{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-top: 10px;
  background-color: rgb(193, 197, 201);
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 2px;
  
}

#opcoes a{
  padding: 2px;
  background-color: #ffffff;
  flex-grow: 1;
  color: #000;
  font-weight: bold;
}
#opcoes a:hover{
  background-color: rgb(193, 197, 201);
}

#destaque-home{

  padding: 5px;
  flex-grow: 2;
  
}

#conteudo-secundario{
  display: flex;
  justify-content: space-between;
}

#novidades, #mais-vendidos{
  width: 49.8%;
  height: 800px;
}


footer {
  display: flex;
  background-image: url("../img/fundo-rodape.png");
  justify-content: space-between;
}



#footer-logo{
  padding: 15px;
  margin-left: 10%;
}

#redes-sociais{ 
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
  margin-left: 40px;
  width: 300px;
}